body{
    background: linear-gradient(to right, white , #dfe4ea);
    color: #2e86de;
    text-align: center;
    align-content: center;
    align-items: center;
    margin-top: 15px;
}
#movies {
    height: 300px;

text-align: center;
    align-content: center;
    align-items: center;
}
#input{
    margin-top: 30px;
    width: 40%;
    height: 30px;
    color: #2e86de;
    background-color: white;
    outline: none;
    border: 2px solid #2e86de;
}
.top-text{
    margin-top:140px;
}
button{
    height: 30px;
    background-color: #2e86de;
color: white;
border: 2px solid #2e86de;
}
button:hover{
    background-color: #54a0ff;

}
.col-3{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 300px;
}
#infWrap{
    padding: 30px;
    
}
 .container{
     background-color: white;
 } 
  div.rain::before {
      content:'\26C8';
      font-size:50px;
      
  }
  div.cloud::before {
      content:'\2601';
    font-size:50px;
      
  }
  .clear:before {
      content:'\2600';
      font-size:50px;
      
  }
